<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p> Date <%= Time.now.strftime("%d/%m/%Y") %>  </p>
    <p> We have received your Premium through online payment. Please find with attached the receipt for the same. </p>
    <p>Assuring you of our best services, always</p>
    <p> Team AXALIFE</p>
    <p>"The information contained in this electronic message and any attachments to this message are intended for exclusive use of the addressee(s) and may contain confidential or privileged information. If you are not the intended recipient, please notify the sender at AXALIFE or co_mailadmin@axalife.com immediately and destroy all copies of this message and any attachments. The views expressed in this E-mail message / Attachments, are those of the individual sender."</p>
  </body>
</html>